/* disable the pointless language switch (only 1 option anyway) */
.languageSwitcher {
    display: none !important;
}

@media screen and (min-width:1025px) {
.siteHeader .Logo img {
    max-height: 48px !important;
    margin-top: -8px;
    width: 320px;
}
}
