/* Move badge to deal with advanced text addition to button */
.badgeContainer .badge {
    left: 5px !important;
}
/* Move folder to deal with advanced text addition to button */
.site-save_folder {
    background-position: 0 -136px !important;
    margin-left: 14px !important;
}

/* Move advanced search button to deal with advanced text addition to button */
.queryBox .advancedBtn {
    width: 6.5em !important;
    right: -4.7em !important;
    margin-right: -5px !important;
    white-space: nowrap !important;
}

/* Move search button to deal with advanced text addition to button */
.queryBox .searchBtn {
    width: 5em !important;
    right: 2.3em !important;
}
/* disable the pointless language switch (only 1 option anyway) */
.languageSwitcher {
    display: none !important;
}

/* Make Clear Refinements Link more noticeable */
.clearRefinements {
    background: #88b3da;
    font-size: 1.1em;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}
