.badgeContainer .badge {
    left: 5px !important;
}

.site-save_folder {
    background-position: 0 -136px !important;
    margin-left: 14px !important;
}

.queryBox .advancedBtn {
    width: 6.5em !important;
    right: -4.7em !important;
    margin-right: -5px !important;
    white-space: nowrap !important;
}

.queryBox .searchBtn {
    width: 5em !important;
    right: 2.3em !important;
}
